.header {
    margin-bottom: 10vh;
}

.header-box {
    border: 5px solid #196dc7;
    width: 10vw;
    padding: 50px 30px 50px 30px;
    text-align: center;
}

@media (max-width: 992px) {
    .header-box {
        border: 5px solid #196dc7;
        width: 30vw;
        padding: 50px 30px 50px 30px;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .header-box {
        border: none;
        width: 30vw;
        padding: 50px 30px 50px 30px;
        text-align: center;
    }
}

.header-box-text {
    font-size: 25px;
    color: #000000;
    font-weight: bold;
}