.scrum-master-panel-container {
    height: 50vh;
    border: 1px solid #cccccc;
    margin-top: 10px;
    padding: 50px 5px 0 5px;
}

.voter-result-container {
    margin-top: 10px;
}

.scrum-master-panel-container-footer {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    margin-top: 50px;
}

.developer-share-link {
    text-align: right;
    margin-bottom: 20px;
}
