.vote-container {
    height: 50vh;
    border: 1px solid #cccccc;
    margin-top: 10px;
    padding: 50px 5px 0 5px;
}

.vote-container-point {
    border: 3px solid #000000;
    padding: 1px;
    text-align: center;
}

.colum-container {
    margin-top: 30px;
}

.vote-footer {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    margin-top: 50px;
}